@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    color: black;
}

:visited,
:active {
    color: black;
}

body {
    width: 100%;
    max-width: 100%;
    background-color: #9A1212;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    width: 80%;
    background: url("img/logo\ main.png") left no-repeat;
}

#l1 {
    position: absolute;
    width: 600px;
    right: 0;
    margin-right: 500px;
    bottom: 0;
}


#l2 {
    position: absolute;
    width: 200px;
    transform: rotate(90deg);
    bottom: 30%;
    left: 10%;
}


.container .header {
    display: flex;
    margin-top: 50px;
    height: 40px;
    justify-content: flex-end;
}

.container .header ul {
    display: flex;
    justify-content: space-between;
    flex: 0 1 700px;
    list-style: none;
    text-decoration: none;
}

.header ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex: 0 1 200px;
    min-width: 90px;
    height: 40px;
    border-radius: 20px;
    transition: .1s;
    box-shadow: 0 0 15px rgba(36, 8, 8, 0.5);
}

.header ul a:hover {
    transform: scale(1.2);
    transition: .1s;
}

.header ul a:last-child {
    justify-content: space-around;
}

.menulable {
    display: flex;
    height: 15px;
    flex-direction: column;
    justify-content: space-between;

}

.quad {
    width: 30px;
    height: 3px;
    background-color: black;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    flex: 0 1 800px;
    width: 50vw;
}

.texts h1 {
    font-size: 6vw;
    font-weight: 400;
    color: white;
    line-height: 130px;
    text-align: right;
}

.texts h1 span {
    font-size: 7vw;
    color: white;
}

.texts p {
    font-size: 1.3vw;
    color: white;
    text-align: right;
    font-weight: 100;
    display: flex;
    align-self: flex-end;
    width: 30vw;
}

.texts a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-color: white;
    width: 200px;
    min-width: 90px;
    height: 40px;
    border-radius: 20px;
    transition: .1s;
    margin-bottom: 50px;
    box-shadow: 0 0 15px rgba(36, 8, 8, 0.5);
}

.texts a:hover {
    transform: scale(1.2);
}

.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: relative;
}

#l3 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 350px;
    height: 100vh;
}

.container2 {
    width: 80%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.container2 h2 {
    font-size: 90px;
    letter-spacing: 20px;
    font-weight: 200;
    align-self: center;
    margin:0;
    padding:0;
    z-index: 1;
}

.goods{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 73vw;
    min-height: 600px;
    margin: 0px 0px 50px 0px;
}

.gooda p{
    font-size: 20px;
    text-align: center;
    color: #9A1212;
    z-index: 2;
}

.goods #arrows{
    height: 50px;
    width: 50px;
}

.goods a:first-child{
    transform: rotate(180deg);
    margin-bottom: 11px;
}

.goods a:hover{
    transform: scale(1.1);
    transition: .2s;
}

.goods a:first-child:hover{
    transform: rotate(180deg) scale(1.1);
}
.gooda{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
    height: 300px;
    border-radius: 30px;
    background-color: #c4c4c4;
    align-items: center;
    transition: .1s;
}

.gooda img{
    width: 200px;
    height: 300px;
    border-radius: 30px;
    margin-left: 40px;
}
.dkp {
    height: 5vh;
    width: 100%;
    max-width: 100vw;
    max-height: 5vh;
    background-color: #f3f3f3;
    overflow: hidden;
}

.dkptext {
    font-size: 40px;
    font-weight: 400;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    margin-top: -6px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10vh;
    max-height: 10vh;
    background-color: #f3f3f3;
}

.footer p{
    font-size: 26px;
    margin-left: 50px;
}